
  <div class="comment-item">

    <div class="comment-text">
      <%= comment.text %>
    </div>

    <div class="comment-actions">
      <%= link_to "Reply", new_article_comment_path(parent_id: comment.id, article_id: @article.id), class: "reply_button btn btn-outline-primary btn-sm", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#new_comment' %>
      <%= link_to 'Destroy', [comment.article, comment],
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-outline-dark btn-sm' %>
    </div>


</div>
