h1 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.td-min-width {
  min-width: 190px;
}

.comment-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  background-color: #f6f6f6;

  .comment-text {
    flex: 1;
  }
}

.add-comment {
  margin-top: 15px;
}
